<div
  class="flex"
  [class.justify-end]="message.username === currentUser"
  [class.justify-start]="message.username !== currentUser"
>
  <div
    class="flex p-2 gap-2 rounded-md max-w-xs lg:max-w-md"
    [class.bg-black]="message.username === currentUser"
    [class.bg-gray-300]="message.username !== currentUser"
    [class.text-white]="message.username === currentUser"
    [class.text-black]="message.username !== currentUser"
  >
    <div>
      <div class="font-semibold">{{ message.username }}</div>
      <div>{{ message.text }}</div>
      <div class="text-xs text-gray-500">{{ formattedDate(message.date) }}</div>
    </div>
  </div>
</div>
