<div
  class="flex flex-col items-center justify-center bg-cover bg-center"
  style="
    background-image: url('/assets/images/home.jpeg');
    height: calc(100vh - 60px);
  "
>
  <div
    class="flex flex-col bg-gray-500 bg-opacity-70 gap-8 p-10 items-center justify-center rounded-lg max-w-2xl"
  >
    <h1 class="text-white text-2xl font-bold">Sky Sentinel</h1>
    <div class="flex flex-row justify-center items-center gap-2">
      <button
        class="px-4 py-2 font-bold text-white bg-red-500 rounded hover:bg-red-700"
        [routerLink]="'report-emergency'"
      >
        Report Emergency
      </button>
    </div>
  </div>
</div>
